<div class="comp-card filtro-card">
    <h1 class="text-primary fw-bold">Filtros</h1>

    <form [formGroup]="form">
        <div class="mb-3">
          <label for="input-local" class="form-label fw-bold text-primary">Por localidade</label>
          <input formControlName="localizacao" type="text" class="form-control text-primary" id="input-local" aria-describedby="Local do ecoponto" placeholder="Rua, bairro, cidade, estado ...">
        </div>

        <div class="mb-3">
            <span class="fw-bold text-primary">Por resíduo</span>
            <div *ngFor="let residuo of residuos; let i = index" class="form-check" formArrayName="residuos">
                <input [formControlName]="i" class="form-check-input" type="checkbox" [value]="residuo" id="flexCheckChecked">
                <label class="form-check-label text-primary" for="flexCheckChecked">
                    <fa-icon [icon]="['fas', residuo!.icone ? residuo!.icone : 'trash']"></fa-icon>
                    {{residuo.descricao}}
                </label>
            </div>
        </div>

        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg" (click)="filtrar()">Buscar</button>
        </div>
    </form>

</div>