<div class="map">
  <google-map
    height="100%"
    width="100%"
    opacity=".9"
    [options]="mapOptions"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)">
  
    <map-marker
      *ngFor="let marker of markers; let i = index"
      [position]="marker"
      [icon]="icon"
      #mapMarker="mapMarker"
      (mapClick)="openInfoWindow(mapMarker, i)">
    </map-marker>

    <map-info-window>
      <h3 class="fs-4">{{ecopontoAberto?.nome}}</h3>
      <p *ngFor="let localizacao of ecopontoAberto?.localizacao">{{localizacao.rua}}, {{localizacao.numero}}, {{localizacao.bairro}}, {{localizacao.cidade}}</p>
      <app-residuo *ngFor="let residuo of ecopontoAberto?.residuo" class="px-1" [residuo]="residuo"></app-residuo>
    </map-info-window>
  
  </google-map>
  <app-filtro (filtros)="filtrarEcopontos($event)"></app-filtro>
</div>

