<title>Mapa works!</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="search-container">
  <button (click)="loadWasteCollectionPoints()" class="default-button pink w-auto">Pesquisar Pontos de Coleta nessa área</button>
</div>
<div id="map" style="width:100%;"></div>

  <!-- chave temporaria - ajustar -->
<script>
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
  defer
</script>
