<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid flex-row-reverse">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleNavBar()" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="aberto ? 'show' : ''" id="navbarNavAltMarkup">
        <div class="navbar-nav p-2 list-items" [ngClass]="aberto ? 'align-items-center': ''">
            <!-- TODO definr qual o menu ativo -->
          <a class="nav-link active py-0" aria-current="page" href="#">Página inicial</a>
          <div class="vr d-none d-md-block"></div>
          <a class="nav-link py-0" href="#">Ecopontos</a>
          <div class="vr d-none d-md-block"></div>
          <a class="nav-link py-0" href="#">EcoEduca</a>
          <div class="vr d-none d-md-block"></div>
          <a class="nav-link py-0" href="/empresa">Sou Ecoponto</a>
          <div class="vr d-none d-md-block"></div>
          <a class="nav-link py-0" href="/voluntario">Sou Voluntário</a>
        </div>
      </div>
    </div>
  </nav>