<div class="col-11 col-md-7 col-lg-6 col-xl-4 comp-card d-flex flex-column m-auto mt-4">

    <button (click)="getEcoponto()">TESTAR API</button>

    <div class="col-11 m-auto">
        <h1 class="text-primary text-center p-4">CADASTRO ECOPONTOS</h1>
    
        <div class="step-progress col-12 d-flex justify-content-center">
            <div *ngFor="let indicador of indicadores; let i = index" [ngClass]="i == 3 ? 'col-1' : 'col-3'" class="d-flex">
                <div class="step-indicators flex-wrap justify-content-center" style="max-width: 50px;">
                    <div class="step-indicator" [ngClass]="{'active': i === passo}">
                        {{ i + 1 }}
                    </div>
                    <p class="text-center text-primary small-text">{{indicador.label}}</p>
                </div>
                <hr *ngIf="i != 3" class="col-12" style="margin-left: -10px;">
            </div>
        </div>

        <form [formGroup]="form">
            <router-outlet></router-outlet>
          </form>
    </div>
</div>
