// estilos de componentes reusáveis como header, footer, botoes, cards...

.comp-card {
    border-radius: 35px;
    border: #B0ADA9 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    padding: 20px;
    height: 100%;
    // padding: 3% 7% 3% 7%;
    max-width: 700px;
}

.step-indicators {
    display: flex;
    justify-content: space-between;
}

.step-indicator {
    width: 30px;
    height: 30px;
    border: 2px solid $primary;
    border-radius: 50%;
    text-align: center;
    // line-height: 26px;
    font-weight: bold;
    color: $primary;
    background-color: #ffffff;
    z-index: 10;
}

.step-indicator.active {
    background-color: $primary;
    color: white;
    border-color: $primary;
}