// estilos de componentes reusáveis como header, footer, botoes, cards...

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary;
    // -webkit-box-shadow: inset 0 0 6px $primary; 
}

.icon-primary{
    color: $primary;
}

.bg-cinza {
    background-color: #d9d9d966;
}

.comp-card {
    border-radius: 35px;
    border: #B0ADA9 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    padding: 20px;
    // height: 100%;
    // padding: 3% 7% 3% 7%;
    max-width: 700px;
    background-color: #ffffff;
}

.step-indicators {
    display: flex;
    justify-content: space-between;
}

.step-indicator {
    width: 30px;
    height: 30px;
    border: 2px solid $primary;
    border-radius: 50%;
    text-align: center;
    // line-height: 26px;
    font-weight: bold;
    color: $primary;
    background-color: #ffffff;
    z-index: 10;
}

.step-indicator.active {
    background-color: $primary;
    color: white;
    border-color: $primary;
}

.map {
    position: relative;
    height: 100%;
}

.filtro-card {
    position: absolute;
    top: 10%;
    left: 10%;
}