// contém variáveis que irão sobreescrever as variaveis do bootstrap. Pode ser utilizado para definir cores de temas, tipografia, inputs ...

$primary: #177292;
$secondary: white;

$font-family-sans-serif: "Barlow";
$font-family-serif:      $font-family-sans-serif;
$font-family-monospace:  $font-family-sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-weight-bold: 700; 

//INPUT
// $input-border-color: $primary;
// $input-placeholder-color: $primary;

// MENU
$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$vr-border-width: 2px;