<div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 comp-card d-flex flex-column m-auto mt-4 d-flex" style="height: 60vh;">
    <div class="col-10 h-100 d-flex flex-wrap align-content-around m-auto">
        <h1 class="text-primary text-center fw-bold p-4">Obrigado por nos ajudar a tratar nosso resíduo de uma forma melhor :)</h1>
    
        <p class="text-center">Seu cadastro está em análise, fique atento ao seu email pois é por lá que iremos contatá-lo</p>

        <button class="col-12 btn btn-primary fw-bold display-1 btn-lg" (click)="finalizar()">Acessar ecopontos</button>
    </div>
</div>
